@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @Html.DropDownList("Countries", (SelectList)Model.CountriesSelect)


    <div id="content"></div>

    <script type="text/javascript">
        var countries = @Html.Raw(Model.Countries);
    </script>


    @Scripts.Render("~/bundles/react")
    <script src="@Url.Content("~/Scripts/client.bundle.js")" type="text/javascript"></script>
</body>
</html>
