////////////////////////////////////////////////////////////////////////////////
// Grid Defaults
////////////////////////////////////////////////////////////////////////////////

$imageUrl: "/Content/images/";

//
// Colors
//

$darkBrown: #2c281f;
$brownGrey: #88817b;
$offWhite: #ecf1ed;


$background-color: $darkBrown;
$font-color: white;
$espresso: #3f3222;
$long-espresso: #5b4837;  // french press, cafe crema

$half-half: #f5f1d6;
$water: #c7dbe2;
$milk: white;
