@import "reset";
@import "settings";

body {
    background: $background-color url("#{$imageUrl}bg-brown.png") 0 0 repeat;
    color: $font-color;
}
#wrapper {
  margin: 0 auto;
  width: 400px;

  @media screen and (min-width: 800px) {
    width: 800px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  @media screen and (min-width: 1600px) {
    width: 1600px;
  }
}

.beverageList,
.beverage {
  box-sizing: border-box;
}

.beverageList {

}

.beverage,
.cup-overlay {
  width: 300px;
  background: transparent bottom center no-repeat;
}
.cup-overlay {
  height: 300px;
  z-index: 100;
  top: 0; left: 0;
  position: absolute;
}
.cup-shadow {
  width: 200px;
  margin-left: 50px;
  bottom: 0;
  position: absolute;
  background: transparent center bottom no-repeat;
}

.withcrema {
  border-top: 5px solid $orange;
  margin-bottom: -5px;
  font-size: 0.8rem;
  text-align: center;
  font-style: italic;
  &:before {
    top: -17px;
    left: 82px;
    position: absolute;
    content: 'crema';
  }
}

.beverage {
  float: left;
  position: relative;
  margin: 0 50px 57px;


  &.demitasse {
    height: 243px;
    margin-bottom: 57px;
    > .cup-overlay {
      background-image: url("#{$imageUrl}Espresso.png");
    }
    > .cup-shadow {
      background-image: url("#{$imageUrl}Espresso-shadow.png");
    }
  }
  &.smallCappucino {
    height: 246px;
    margin-bottom: 54px;
    > .cup-overlay {
      background-image: url("#{$imageUrl}small-cappucino.png");
    }
    > .cup-shadow {
      margin-left: 63px;
      background-image:  url("#{$imageUrl}small-cappucino-shadow.png");
    }
  }
  &.cappucino {
    height: 246px;
    margin-bottom: 54px;
    > .cup-overlay {
      background-image: url("#{$imageUrl}Cappucino.png");
    }
    > .cup-shadow {
      background-image:  url("#{$imageUrl}Cappucino-shadow.png");
    }
  }

  > .description {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: -34px;
    z-index: 110;
  }
}


.ingredient {
  position: absolute;
  bottom: 0;
  width: 200px;
  margin: 0 50px;

  &.espresso {
    @extend .withcrema;
    background: $espresso;
  }
  &.longer-brewed {
    @extend .withcrema;
    background: $long-espresso;
  }
  &.much-longer-brewed {
    @extend .withcrema;
    background: $long-espresso;
  }
  &.steamed-milk {
    background: $milk;
  }
  &.milk-foam {
    // http://sftextures.com/2014/10/24/milk-shake-drink-white-bubbles-foam-texture/
    background: $milk url("#{$imageUrl}milk-foam.jpg");
    background-size: 50%;
  }
}